version: "3.9"

services:
  user-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/cos-theta/user-service:latest
    container_name: user-service
    restart: unless-stopped
    ports:
      - "9001:9001"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  core-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/cos-theta/core-service:latest
    container_name: core-service
    restart: unless-stopped
    ports:
      - "9002:9002"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  socket-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/cos-theta/socket-service:latest
    container_name: socket-service
    restart: unless-stopped
    ports:
      - "9003:9003"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  notification-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/cos-theta/notification-service:latest
    container_name: notification-service
    restart: unless-stopped
    ports:
      - "9004:9004"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  frontend-app:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/cos-theta/frontend-app:latest
    container_name: frontend-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  frontend-home:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/cos-theta/frontend-home:latest
    container_name: frontend-home
    restart: unless-stopped
    ports:
      - "3001:3000"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

networks:
  cos-theta-network:
    driver: bridge