version: "3.9"

services:
  # User Service
  user-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/user-service:latest
    container_name: user-service
    restart: unless-stopped
    ports:
      - "9001:9001"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  # Core Service
  core-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/core-service:latest
    container_name: core-service
    restart: unless-stopped
    ports:
      - "9002:9002"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  # Socket Service
  socket-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/socket-service:latest
    container_name: socket-service
    restart: unless-stopped
    ports:
      - "9003:9003"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  # Notification Service
  notification-service:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/notification-service:latest
    container_name: notification-service
    restart: unless-stopped
    ports:
      - "9004:9004"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  # Frontend App
  frontend-app:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/frontend-app:latest
    container_name: frontend-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

  # Frontend Home
  frontend-home:
    image: 925606811675.dkr.ecr.us-east-1.amazonaws.com/frontend-home:latest
    container_name: frontend-home
    restart: unless-stopped
    ports:
      - "3001:3000"
    env_file:
      - docker.env
    networks:
      - cos-theta-network

networks:
  cos-theta-network:
    driver: bridge
